<div nz-row class="mb-8">
  <div nz-col nzSpan="24">
    <nz-card nzTitle="Welcome">
      <p>Naraku Shonin is a bot developed to provide useful features for the Naraku Mercantile. It's very early in it's life, but we're excited to see it grow!</p>
      <p>See below for a preview of what features we have in mind!</p>
    </nz-card>
  </div>
</div>
<div nz-row nzGutter="8">
  <div nz-col nzSpan="6">
    <nz-card nzTitle="Gamba Support" class="h-full">
      <p>We'll add the ability to define and store currencies, and implement a few basic gamba games.</p>
      <p>Eventual plans include a Dalamud plugin that can help dealers and players play those games in-game.</p>
    </nz-card>
  </div>
  <div nz-col nzSpan="6">
    <nz-card nzTitle="Automation" class="h-full">
      <p>We're going to support automating repetitive discord tasks, to make things easier on server moderators.</p>
    </nz-card>
  </div>
  <div nz-col nzSpan="6">
    <nz-card nzTitle="Tickets" class="h-full">
      <p>We're going to integrate a ticket bot to make communication between officers and members easier.
        Why not use one of the many others out there? Because Discord bots can't call each other, so if we want
        to be able to automate things involving tickets in the Automation module, we need to have our own ticket bot.</p>
    </nz-card>
  </div>
  <div nz-col nzSpan="6">
    <nz-card nzTitle="Custom Commands" class="h-full">
      <p>We're going to support custom commands. Because why not?</p>
    </nz-card>
  </div>
</div>
