@page "/"

<PageTitle>Naraku Shonin</PageTitle>

<MudCard>
    <MudCardHeader>
        <MudText Typo="Typo.h3">Naraku Shonin</MudText>
    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.body1">
            Naraku Shonin is a bot developed to provide useful features for the Naraku Mercantile. It's very early in it's life, but we're excited to see it grow!
        </MudText>
        <MudText Typo="Typo.body1">
            See below for a preview of what features we have in mind!
        </MudText>
        <MudGrid Class="mt-3 mb-3">
            <MudItem xs="12" md="6" xl="4">
                <MudCard Style="height: 100%">
                    <MudCardHeader>
                        <MudText Typo="Typo.body1">
                            Gamba support!
                        </MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body1">
                            We'll add the ability to define and store currencies, and implement a few basic gamba games.
                            Eventual plans include a Dalamud plugin that can help dealers and players play those games in-game.
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="6" xl="4">
                <MudCard Style="height: 100%">
                    <MudCardHeader>
                        <MudText Typo="Typo.body1">
                            Automation!
                        </MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body1">
                            We're going to support automatic repetitive discord tasks, to make things easier on server moderators.
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="6" xl="4">
                <MudCard Style="height: 100%">
                    <MudCardHeader>
                        <MudText Typo="Typo.body1">
                            Tickets!
                        </MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body1">
                            We're going to integrate a ticket bot to make communication between officers and members easier.
                            Why not use one of the many others out there? Because Discord bots can't call each other, so if we want
                            to be able to automate things involving tickets in the Automation module, we need to have our own ticket bot.
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="6" xl="4">
                <MudCard Style="height: 100%">
                    <MudCardHeader>
                        <MudText Typo="Typo.body1">
                            Custom Commands!
                        </MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body1">
                            We're going to support custom commands. Because why not?
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
        <AuthorizeView>
            <Authorized>
                <div>
                    <MudText Typo="Typo.body1">
                        <MudLink Href="/dashboard">
                            Visit your Dashboard
                        </MudLink>
                        to invite the bot to a server!
                    </MudText>
                </div>
            </Authorized>
        </AuthorizeView>
    </MudCardContent>
</MudCard>