<nz-row class="mb-3">
  <nz-col nzSpan="24">
    <nz-card nzTitle="Choose Server to Manage" [nzExtra]="headerExtra">

    </nz-card>
    <ng-template #headerExtra>
      <button type="button" nz-button nzType="primary" (click)="loadGuilds()" >
        <nz-icon nzType="sync"></nz-icon>
        Refresh
      </button>
    </ng-template>
  </nz-col>
</nz-row>
<nz-row nzGutter="8">
  @for (guild of guilds(); track guild.id) {
    <nz-col nzSpan="4" class="mb-3">
      <nz-card nzHoverable [nzCover]="guildImage" (click)="guildClicked(guild)">
        <nz-card-meta [nzTitle]="guild.name" ></nz-card-meta>
      </nz-card>
    </nz-col>
    <ng-template #guildImage>
      <img [alt]="guild.name" class="w-full" src="https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon}}.png"/>
    </ng-template>
  }
</nz-row>
